<div>
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Task Management System</span> 
    <span class="spacer"></span>
  
    <!-- we are adding the router outlet link to the buttons, so when we click on them , it can take/route us to that component -->
    <button mat-button routerLink="/signup" routerLinkActive="active">Register</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>